
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    top:0;
    left:0;
    font-family: 'Poppins', sans-serif;
}
body{
    margin: 0;
    padding: 0;
}
.top_container{
   width:100%;
   height:1350px;
   background-color:#141414;
   top:0;
   border:1px ;
}
.horizontal_nav{
   width:100%;
   background-color:#141414;
   border-radius:2px;
   display:flex ;
   height:70px;
}
.nav_items{
   width: 100%;
   left:0;
   padding:0;
   margin-top:12px;
}
.nav_items li{
   list-style:none;
   display: inline-block;
   padding:2px 5px;
   margin-left: 5px;
}
.nav_right{
    float:right;
}
.nav_items li a{
    text-decoration:none;
    color:#FFF;
    font-family:arial;
    font-size:24px;
    vertical-align: 50px;
}
.nav_items li select{
    color:#FFF;
    background-color: #63C5DA;
    padding: 4px 5px;
    border: none;
    border-radius: 5px;
    margin-top: 0px;
    height: 50px;
}
.nav_items li  select:hover{
    background-color: #FFF;
    color: #141414;
    transition: all 0.15s;
}
.input_box{
    margin-top:55px;
    display:block ;
    text-align:center ;
}    
#link{
    border-radius:22px;
    font:10px;
    border:1px solid #022D36 ;
    background-color:#022D36;
    color:#FFF;
    text-align:center;
    padding: 12px;
    width: 300px;
}
.input_box p{
    font-family:Arial;
    color:#FFA500;
    font-size:12px;
    top:30px;
}
.input_box p2{
    font-family:Arial;
    color:#00FF00;
    font-size:12px;
    top:30px
}
.button{
    display:block;
    text-align:center;
    margin-top:30px;
}
#submit{
    padding: 12px;
    border:1px;
    border-radius:3px;
    background-color:#63C5DA;
    color:#FFF;
    transition:all ease;
    font-size:18px;
    font-family:arial;
    width: 100px;
}
#submit:hover{
    cursor:pointer ;
    opacity:85%;
}
#submit:active{
    opacity:40%;
    transition:opacity 0.15s;
}
.middle_block{
    background-color:#022D36;
    border:1px;
    margin-top:26px;
    padding:8px;
    margin-bottom:0;
    display:block ;
    text-align:center ;
    height: 50px;
}
.middle_block p6{
    color:#FFF;
    font-size:17px;
    font-family: Arial;
}
.middle_block .p6{
    margin-top: 12px;
}

.nav_items li i{
    color:#FFF;
    font-size:34px;
}
.article{
    display:flex;
    align-items:center;
    justify-content:center;
}
.article2{
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center ;
    width:50%;
    margin-left:25%;
}
.article3{
    display:flex;
    align-items:center;
    justify-content:center;
    margin-top: 50px;
}
.article4{
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center ;
    width:50%;
    margin-left:25%;
}
.article article i{
    color:#FFF;
    font-size:64px;
    position:relative  ;
    width:100%;
    margin-top:20px;
}
.article2 article p4{
    margin-top:20px;
    color:#FFF;
    font-family:Arial;
    font-size:14px;
    text-align:center ;
}
.article3 article i{
    color:#FFF;
    font-size:64px;
    position:relative  ;
    width:100%;
    margin-top:20px;
}
.article4 article p5{
    margin-top:20px;
    color:#FFF;
    font-family:Arial;
    font-size:14px;
    text-align:center ;
}
.all{
    margin-top:70px;

    
}
.developer_info{
    height: 400px;
    top: 0px;
}
#user_name{
    border-radius: 4px;
    font:10px;
    border:1px solid #022D36 ;
    background-color:#022D36 ;
    color:#FFF;
    text-align:left;
    padding: 8px;
    width: 190px;
    outline: none;
}
#last_name{
    border-radius: 4px;
    font:10px;
    border:1px solid #022D36 ;
    background-color:#022D36;
    color:#FFF;
    text-align:left;
    padding: 8px;
    width: 190px;
    outline: none;
}
#email_address{
    border-radius: 4px;
    font:10px;
    border:1px solid #022D36;
    background-color:#022D36;
    color:#FFF;
    text-align:left;
    padding: 8px;
    width: 190px;
    outline: non;
}
.first_name{
    display: block;
    text-align: center;
    background-color: #141414;
    height: 70px;
}
.second_name{
    display: block;
    text-align: center;
    background-color: #141414;
    height: 70px;
}

.email{
    display: block;
    text-align: center;
    background-color: #141414;
    height: 75px;
}
.textarea{
    display: block;
    text-align: center;
    background-color: #141414;
    height: 210px;
    
}
.textarea #subject{
    width: 200px;
    height: 100px;
    color: #FFF;
    background-color: #022D36;
    border: 1px solid #022D36;
    outline: none;
}
.futa{
    display: block;
    background-color:#141414;
    color:#FFF;
    text-align:center ;
    height: 30px;
}
h5{
    text-align: center;
    font-family: Arial;
    font-size: 24px;
    margin: 0;
    background-color: #141414;
    font-weight: 700;
    height: 40px;
    color: #FFF;
}
.btn_msg{
    margin-top: 10px;
}
#message_submit{
    padding: 6px;
    border:1px;
    border-radius:3px;
    background-color:#63C5DA;
    color:#FFF;
    transition:all ease;
    font-size:18px;
    font-family:arial;
    width: 100px;
}
#message_submit:hover{
    cursor:pointer ;
    opacity:85%;
}
#message_submit:active{
    opacity:40%;
    transition:opacity 0.15s;
}
span{
    color: #FFF;
}
hr.solid{
    border-top: 0.4px solid rgb(168, 168, 168);
    margin-top: 0;
    margin-bottom: 5px;
    width: 350px;
    color: #FFF;

}
.first_name p{
    margin: 0;
}