{% extends 'converter/layout.html' %}



{% block body %}
<body>
    <div class="top_container">
        <div class="horizontal_nav">
            <ul class="nav_items">
                <li>
                    <a href="#HOME">
                        <span><strong><i>G</i>O</strong>short</span>
                    </a>
                </li>
                <li>
                    <select>
                        <option> TECH </option>
                        <option> TRENDS </option>
                        <option> NEWS </option>
                    </select>
                </li>
            </ul>
        </div>
        <form id="post-form" >
                {% csrf_token %}
                <div class="input_box">
                    <p><i>G</i><p2>O</p2></p>
                    <input type="text" id="link" name="link" placeholder="paste the url here..">
                </div>
                <div class="button">
                    <button type="submit" id='submit'>shorten</button>
                </div>
        </form>
        <div class="middle_block">
            <div class="p6">
               <p6></p6>
            </div>
        </div>
     <div class="all">
        <div class="article">
            <article>
                    <p3><i class='bx bx-message-detail' ></i></p3>
                </article>
            </div>
            <div class="article2">
                <article>
                    <p4>We focus on simpicity of everything,links look more stylish when everything is short. </p4>
                </article>
            </div>
            <div class="article3">
                <article>
                    <i class='bx bxs-heart' ></i>
                </article>
            </div>
            <div class="article4">
                <article>
                    <p5>Thanks for visiting our page,Remember sharing the page, Welcome. </p5>
                </article>
            </div>
        </div>
     </div>
     <h5>Contact Us</h5>
     <div class="developer_info">
        <form id="contanct_developer" method="POST">
            {% csrf_token%}
            <div class="first_name">
                <span>First Name</span><br>
                <input id="user_name" type="text" name="user_name" placeholder="Your name..">
            </div>
            <div class="second_name">
                <span>Second Name</span><br>
                <input type="text" name="second_name" placeholder="Your last name.." id="last_name">
            </div> 
            <div class="email">
                <span> Email Address</span><br>
                <input type="email" name="email" placeholder="email address" id="email_address">
            </div>
            <div class="textarea">
                <textarea id="subject" placeholder="write something...">

                </textarea>
                <div class="btn_msg">
                    <button id="message_submit" type="submit">Send</button>
                </div>
            </div>   
        </form>
        <div class="futa">
            <div class="futa_margin">
            <footer>
                    copyright &#169; 2022 | created. codewithsul
            </footer>
            </div>
        </div>
     </div> 
     <script>
        document.querySelector('#post-form').onsubmit = function() {
            alert('Have a nice time :)');
        }
     </script>   
     <script type="text/javascript">

        $(document).on('submit','#post-form',function(e){
            e.preventDefault();


            $.ajax({
                type:'POST',
                url:'/create',
                data:{
                    link: $('#link').val(),
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                },

                success: function(data){
                    $('p6').html("gourlshortapps.herokuapp.com/"+data)
                }
            });
        });
     </script>
    </body>
{% endblock %}